/* CustomerReview.css */
.customer-review {
    background-color: #fff;
    padding: 4rem 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
  }
  
  .customer-review-title {
    font-size: 2rem;
  font-weight: bold;
  color: #03084b;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
  }
  
  .customer-review-card {
    display: flex;
     /* Stack review cards vertically */
    align-items: center; /* Center review cards horizontally */
    width: 100%; /* Expand to full width */
    overflow: hidden;
  }
  
  .review-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 100px;
    padding: 2rem;
    margin: 1rem;
    width: 60%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s, opacity 0.5s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #491fef, #ff33a7);
  }
  
  .review-card.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .review-text {
    font-size: 1.3rem;
    color: #ffffff;
    font-family: 'Cedarville Cursive', cursive;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-shadow: #0f0f0f;
  }
  
  .review-author {
    font-size: 1rem;
    color: #fbf1f1;
    font-family: 'Your Preferred Font', sans-serif;
    text-shadow: #0f0f0f;
  }
  