/* Contact.css */
.contact-container {
  background: linear-gradient(135deg, #491fef, #ff33a7); /* Gradient background */
  padding: 3rem;
  text-align: center;
  color: #fff;
}

.contact-title {
  font-size: 2rem;
  font-weight: bold;
  color: #f9fafe;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
}

.contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  
}

.contact-details {
  width: calc(33.33% - 1rem);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */;
  transition: background-color 0.4s;
  cursor: pointer;
  font-family: 'Cedarville Cursive', cursive;
}
.contact-details:hover{
  background-color: hsl(270, 95%, 49%);
}

.contact-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); ;
  
}

.contact-form {
  width: 100%;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 2rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */;
  
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.contact-form input,
.contact-form textarea {
  width: calc(50% - 0.5rem);
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  background-color: #02083b;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.23rem;
  width: 500px;
  height: 50px;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */;
}

.contact-form button:hover {
  background-color: hsl(297, 94%, 26%);
}
