/* Contact.css */
.contact-container {
  background: linear-gradient(to right, #ff8800, #ffaa33); /* Gradient background */
  padding: 3rem;
  text-align: center;
  color: #fff;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: 'Great Vibes', cursive;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.contact-details {
  width: calc(33.33% - 1rem);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

.contact-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-form {
  width: 100%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 2rem;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-form input,
.contact-form textarea {
  width: calc(50% - 0.5rem);
  margin: 0.25rem;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  background-color: #fff;
  color: #ff8800;
  border: none;
  border-radius: 8px;
  padding: 1rem 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: hsl(35, 100%, 60%);
}
