/* Navbar.css */
.navbar {
  background: linear-gradient(135deg, #ff8800, #ffaa33); /* Add your preferred gradient colors */
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  padding: 1rem;
  position: fixed; /* Make the Navbar fixed */
  top: 0; /* Position it at the top of the viewport */
  width: 100%; /* Make it full width */
  z-index: 999; /* Ensure it appears above other elements */
  transition: background 0.3s; /* Add a smooth background color transition */
  margin-right: 3rem;
}
  
.navbar-logo {
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Great Vibes', cursive; /* Add your preferred font-family */
}
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 5%;
  }
  
  .navbar-item {
    font-size: 1rem;
    
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s; /* Add a smooth color transition */
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar-item a:hover {
    color: #ff8800; /* Change to your preferred color */
    text-decoration: none;
  }
  