/* Gallery.css */
.gallery-container {
  background-color: #fff;
  padding: 3rem 5rem;
  text-align: center;
}

.gallery-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  padding-bottom: 3rem;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add text shadow */
}

.gallery-slideshow {
  display: flex;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  max-height: 600px; /* Adjust the image height as needed */
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s, opacity 0.5s;
}


.prev-button,
.next-button {
  position: absolute;
  margin-top: 22rem;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #ff8800, #ffaa33);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.gallery-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.gallery-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.gallery-dot.active {
  background-color: #ff8800;
}
